/* По умолчанию (на мобильных устройствах) — контент просто как есть */
.centered {
  margin: 0; /* никакого центрирования */
  padding: 1rem;
}

/* Если ширина экрана больше 768px — центрировать по горизонтали */
@media screen and (min-width: 1100px) {
  .centered {
    max-width: 40vw; /* треть экрана */
    margin: 0 auto;     /* центрирование по горизонтали */
  }
}


